body {
    background-color: darkgreen;
    color: black;
}

input {
    width: 12.5%;
    height: 80px;
}

.choice {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.center_button {
    display: flex;
    justify-content: center;
}